@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="number"],

textarea {
    @apply w-full border my-2 py-2 px-3 rounded-xl;
}

input[type="email"] {
    @apply w-full border my-2 py-2 px-3 rounded-xl;
}

button {
    @apply bg-gray-300;
}

button.primary {
    background-color: #fe395c;
    @apply bg-primary p-2 w-full text-white rounded-2xl ease-out duration-300;
}

button.primary:hover {
    transition: ease-in-out 0.3s;
    background-color: #e93455;

}
